
.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


body {
    font-family: "Figtree", sans-serif;
    background-color: #6E869C;
    margin: 0;
    padding: 20px;

}

#layout-container {
    margin: auto;
    max-width: auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    column-gap: 25px;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: 700;
}

#lookup-container {
    background-color: rgba(195, 200, 205, 0.6);
    padding: 25px;
    box-shadow: #8f9397;
    border-radius: 12px;

}

#results-container {
    background-color: rgba(195, 200, 205, 0.6);
    padding: 25px;
    box-shadow: #8f9397;
    border-radius: 12px;
    overflow-x: auto;

}

#results-container h2 {
    text-align: left;
    margin-top: 0;
    font-weight: 500;
}


#results-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden; 
    table-layout: fixed;
    word-wrap: break-word;
}

#results-table th {
    padding: 10px;
    background-color: rgb(223, 222, 222);
    border: 1px solid;
    text-align: left;
}

#results-table td {
    padding: 10px;
    border: 1px solid;
    text-align: left;
}

#results-table th:first-child,
#results-table td:first-child {
    width: 33%;
}

#results-table th:last-child,
#results-table td:last-child {
    width: 67%;
}

#result-container p {
    align-items: top;

}

#lookup-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#lookup-form input {
    width: 100%;
    height: 25px;
    margin-bottom: 10px

}

#lookup-form select {
    font-family: "Figtree", sans-serif;
    width: 100%;
    height: 350px;
    margin-bottom: 5px;
}

#lookup-form label {
    margin-bottom: 5px;
}

#lookup-form button[type=submit] {
    background-color: #66a3db;
    font-size: medium;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#lookup-form button:hover[type=submit] {
    background-color: #667482;
}

#lookup-form button[type=reset] {
    background-color: #dbae66;
    font-size: medium;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#lookup-form button:hover[type=reset] {
    background-color: #998566;
}

footer {
  display: block;
}